// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/bootstrap/dist/css/bootstrap";

.load-more-container {
	padding: 20px 0px;
	text-align: center;
}
.load-more-container a {
	color: black;
	font-size: 15px;
}
.load-more-container a:hover {
	text-decoration: none;
}

.row {
	padding-bottom: 20px;
}